<div id="footer-hat" class="container mx-auto">
    {% if entry is defined and entry.sectionId != 12 %}

        {% if entry.footerCta == 'subscribeForm' and craft.freeform.form("newsletterSignup") %}
        {# subscribeForm #}
        <div class="footer-hat-block">
            <div class="footer-hat-block-title">{{ entry.footerTitle }}</div>
            <div class="footer-hat-block-input">
                {{ craft.freeform.form("newsletterSignup").render() }}
            </div>
        </div>
        {% else %}
        {# link #}
        <div class="footer-hat-block">
            <div class="footer-hat-block-title">{{ entry.footerTitle ? entry.footerTitle : "Empowering Children with Science-Based Learning Products" }}</div>
            {% set footerBtn = entry.footerButton %}
            {% if footerBtn|length %}
            <div class="footer-hat-block-cta">
                <a class="button" href="{{footerBtn.url}}" target="{{footerBtn.target}}">{{ footerBtn.text }}</a>
            </div>
            {% else %}
            <div class="footer-hat-block-cta">
                <a class="button" href="/products">View Products</a>
            </div>
            {% endif %}
        </div>
        {% endif %}
    {% elseif entry is defined and entry.sectionId == 12 %}
        {# subscribeForm #}
        <div class="footer-hat-block">
            <div class="footer-hat-block-title">Subscribe for Exclusive Promotions and Educational Content!</div>
            <div class="footer-hat-block-input">
                {{ craft.freeform.form("newsletterSignup").render() }}
            </div>
        </div>
    {% else %}
        {# Default #}
        <div class="footer-hat-block">
            <div class="footer-hat-block-title">Empowering Children with Science-Based Learning Products</div>
            <div class="footer-hat-block-cta">
                <a class="button" href="/products">View Products</a>
            </div>
        </div>
    {% endif %}
    {% include "_partials/shapes/footer/orange-sparkle.svg" %}
</div>

<div id="footer">
    <svg class="footer-vector" viewBox="0 0 1441 65" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.5 64.5524H1440.5V53.0224C1273.54 16.3924 1044.75 22.2524 813.87 28.1624C680.62 31.5824 546.67 35.0124 423.52 30.3024C320.42 26.3624 217.51 18.1224 115.39 9.95242C76.97 6.87242 38.66 3.81242 0.5 0.982422V64.5524Z" fill="#253F84"/>
    </svg>
    <div class="main-footer">
        <div class="main-footer-container">
            <div class="footer-left">
                <a href="/" title="{{siteName}}">
                    <svg class="dark-logo" viewBox="0 0 161 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_5131_6359)">
                            <path d="M29.8252 50.2033V43.8906H32.2891C32.8447 43.8906 33.3117 43.9792 33.7062 44.1483C34.1008 44.3254 34.3987 44.575 34.608 44.9052C34.8174 45.2353 34.9221 45.6298 34.9221 46.0888C34.9221 46.5478 34.8174 46.9423 34.608 47.2644C34.3987 47.5945 34.1008 47.8441 33.7062 48.0213C33.3117 48.1984 32.8447 48.287 32.2891 48.287H30.3244L30.727 47.8602V50.1953H29.8252V50.2033ZM30.727 47.9569L30.3244 47.5059H32.2649C32.8447 47.5059 33.2795 47.3852 33.5774 47.1356C33.8753 46.8859 34.0203 46.5397 34.0203 46.0888C34.0203 45.6379 33.8673 45.2917 33.5774 45.0421C33.2875 44.7924 32.8447 44.6717 32.2649 44.6717H30.3244L30.727 44.2208V47.9569Z" fill="white"/>
                            <path d="M41.9914 50.276C41.162 50.276 40.5098 50.0425 40.0347 49.5594C39.5597 49.0844 39.3262 48.3919 39.3262 47.474V43.8828H40.228V47.4337C40.228 48.1342 40.381 48.6496 40.695 48.9797C41.001 49.3018 41.4438 49.4628 42.0075 49.4628C42.5711 49.4628 43.022 49.3018 43.328 48.9797C43.634 48.6576 43.795 48.1423 43.795 47.4337V43.8828H44.6727V47.474C44.6727 48.3919 44.4391 49.0844 43.9641 49.5594C43.489 50.0345 42.8368 50.276 41.9994 50.276H41.9914Z" fill="white"/>
                            <path d="M49.6252 50.2033V43.8906H52.4595C53.1842 43.8906 53.7478 44.0356 54.1343 44.3254C54.5289 44.6153 54.7221 45.0179 54.7221 45.5171C54.7221 45.8633 54.6416 46.1452 54.4886 46.3867C54.3356 46.6202 54.1263 46.8054 53.8686 46.9262C53.6109 47.055 53.3291 47.1114 53.0312 47.1114L53.1922 46.8376C53.5546 46.8376 53.8686 46.902 54.1504 47.0309C54.4242 47.1597 54.6496 47.3449 54.8107 47.5865C54.9717 47.828 55.0522 48.134 55.0522 48.4963C55.0522 49.0358 54.8509 49.4545 54.4403 49.7524C54.0377 50.0504 53.4338 50.1953 52.6286 50.1953H49.6172L49.6252 50.2033ZM50.5271 49.4706H52.6045C53.1037 49.4706 53.4821 49.3901 53.7478 49.221C54.0135 49.0519 54.1424 48.7862 54.1424 48.4239C54.1424 48.0615 54.0135 47.7878 53.7478 47.6187C53.4821 47.4496 53.1037 47.3691 52.6045 47.3691H50.4465V46.6363H52.379C52.838 46.6363 53.1922 46.5558 53.4419 46.3867C53.6915 46.2176 53.8203 45.968 53.8203 45.6298C53.8203 45.2917 53.6915 45.0421 53.4419 44.873C53.1922 44.7039 52.838 44.6234 52.379 44.6234H50.5271V49.4787V49.4706Z" fill="white"/>
                            <path d="M59.5605 50.2033V43.8906H60.4624V49.4223H63.8844V50.2033H59.5605Z" fill="white"/>
                            <path d="M68.0234 50.2033V43.8906H68.9253V50.2033H68.0234Z" fill="white"/>
                            <path d="M76.7437 50.276C76.2605 50.276 75.8177 50.1955 75.4151 50.0345C75.0125 49.8734 74.6582 49.648 74.3603 49.3581C74.0624 49.0682 73.8289 48.722 73.6598 48.3355C73.4907 47.9409 73.4102 47.5142 73.4102 47.0472C73.4102 46.5802 73.4907 46.1454 73.6598 45.7589C73.8289 45.3643 74.0624 45.0262 74.3603 44.7363C74.6582 44.4464 75.0125 44.221 75.4231 44.0599C75.8257 43.8989 76.2686 43.8184 76.7517 43.8184C77.2348 43.8184 77.6857 43.8989 78.0964 44.068C78.507 44.2371 78.8613 44.4786 79.1431 44.8007L78.5553 45.3724C78.3138 45.1228 78.0481 44.9295 77.7421 44.8087C77.4442 44.688 77.1221 44.6236 76.7759 44.6236C76.4296 44.6236 76.0914 44.6799 75.7855 44.8007C75.4795 44.9215 75.2218 45.0906 74.9964 45.308C74.7709 45.5254 74.6018 45.783 74.4811 46.081C74.3603 46.3789 74.2959 46.701 74.2959 47.0472C74.2959 47.3934 74.3603 47.7155 74.4811 48.0134C74.6018 48.3113 74.779 48.569 74.9964 48.7864C75.2218 49.0038 75.4795 49.1729 75.7855 49.2937C76.0914 49.4145 76.4216 49.4708 76.7759 49.4708C77.1302 49.4708 77.4361 49.4064 77.7421 49.2856C78.04 49.1648 78.3138 48.9716 78.5553 48.7139L79.1431 49.2856C78.8533 49.6077 78.507 49.8573 78.0964 50.0264C77.6857 50.1955 77.2348 50.276 76.7356 50.276H76.7437Z" fill="white"/>
                            <path d="M82.4365 50.2033L85.295 43.8906H86.1887L89.0552 50.2033H88.1051L85.5526 44.3979H85.915L83.3625 50.2033H82.4365ZM83.6524 48.6252L83.8939 47.9005H87.4448L87.7025 48.6252H83.6443H83.6524Z" fill="white"/>
                            <path d="M94.0312 50.2033V44.6717H91.8652V43.8906H97.0909V44.6717H94.925V50.2033H94.0312Z" fill="white"/>
                            <path d="M101.182 50.2033V43.8906H102.083V50.2033H101.182Z" fill="white"/>
                            <path d="M109.934 50.276C109.451 50.276 109.008 50.1955 108.597 50.0345C108.187 49.8734 107.832 49.648 107.526 49.35C107.228 49.0602 106.987 48.7139 106.826 48.3274C106.657 47.9329 106.576 47.5061 106.576 47.0472C106.576 46.5882 106.657 46.1615 106.826 45.7669C106.995 45.3724 107.228 45.0342 107.526 44.7443C107.824 44.4545 108.179 44.229 108.589 44.0599C109 43.8908 109.443 43.8184 109.934 43.8184C110.425 43.8184 110.86 43.8989 111.262 44.0599C111.665 44.221 112.019 44.4464 112.325 44.7363C112.631 45.0262 112.865 45.3724 113.026 45.7589C113.195 46.1534 113.275 46.5802 113.275 47.0472C113.275 47.5142 113.195 47.949 113.026 48.3355C112.857 48.73 112.623 49.0682 112.325 49.3581C112.019 49.648 111.665 49.8734 111.262 50.0345C110.86 50.1955 110.409 50.276 109.934 50.276ZM109.934 49.4708C110.28 49.4708 110.602 49.4145 110.9 49.2937C111.198 49.1729 111.456 49.0038 111.673 48.7864C111.89 48.569 112.068 48.3113 112.188 48.0134C112.309 47.7155 112.374 47.3934 112.374 47.0472C112.374 46.701 112.309 46.3789 112.188 46.081C112.068 45.783 111.89 45.5254 111.673 45.308C111.456 45.0906 111.198 44.9215 110.9 44.8007C110.602 44.6799 110.28 44.6236 109.934 44.6236C109.588 44.6236 109.249 44.6799 108.951 44.8007C108.654 44.9215 108.396 45.0906 108.17 45.308C107.945 45.5254 107.776 45.783 107.655 46.081C107.534 46.3789 107.47 46.701 107.47 47.0472C107.47 47.3934 107.534 47.7155 107.655 48.0134C107.776 48.3113 107.953 48.569 108.17 48.7864C108.396 49.0038 108.654 49.1729 108.951 49.2937C109.249 49.4145 109.571 49.4708 109.934 49.4708Z" fill="white"/>
                            <path d="M117.761 50.2033V43.8906H118.502L122.68 49.0761H122.294V43.8906H123.196V50.2033H122.455L118.276 45.0179H118.663V50.2033H117.761Z" fill="white"/>
                            <path d="M130.04 50.2755C129.556 50.2755 129.098 50.2031 128.663 50.0581C128.22 49.9132 127.882 49.7199 127.624 49.4864L127.954 48.7859C128.196 48.9953 128.502 49.1724 128.872 49.3093C129.242 49.4462 129.629 49.5186 130.04 49.5186C130.41 49.5186 130.7 49.4784 130.933 49.3898C131.159 49.3093 131.328 49.1885 131.441 49.0436C131.545 48.8986 131.602 48.7296 131.602 48.5444C131.602 48.327 131.529 48.1498 131.392 48.021C131.247 47.8922 131.07 47.7794 130.845 47.6989C130.619 47.6184 130.37 47.5459 130.104 47.4896C129.838 47.4332 129.565 47.3607 129.291 47.2802C129.017 47.1997 128.767 47.095 128.542 46.9662C128.316 46.8374 128.131 46.6683 127.994 46.4589C127.858 46.2496 127.785 45.9677 127.785 45.6376C127.785 45.3075 127.874 45.0176 128.043 44.7439C128.212 44.4701 128.478 44.2527 128.84 44.0836C129.194 43.9145 129.653 43.834 130.209 43.834C130.579 43.834 130.941 43.8823 131.296 43.9789C131.658 44.0755 131.972 44.2124 132.238 44.3976L131.94 45.1223C131.666 44.9452 131.384 44.8083 131.086 44.7277C130.788 44.6472 130.491 44.607 130.209 44.607C129.854 44.607 129.565 44.6553 129.331 44.7439C129.106 44.8324 128.936 44.9532 128.832 45.1062C128.727 45.2592 128.671 45.4283 128.671 45.6135C128.671 45.8389 128.743 46.0161 128.88 46.1449C129.025 46.2737 129.202 46.3784 129.428 46.4589C129.653 46.5394 129.903 46.6038 130.168 46.6683C130.442 46.7327 130.708 46.8051 130.982 46.8776C131.255 46.9581 131.505 47.0548 131.731 47.1836C131.956 47.3124 132.141 47.4815 132.278 47.6909C132.415 47.9002 132.487 48.174 132.487 48.5041C132.487 48.8342 132.399 49.1161 132.23 49.3898C132.053 49.6636 131.787 49.881 131.425 50.0501C131.062 50.2192 130.603 50.2997 130.048 50.2997L130.04 50.2755Z" fill="white"/>
                            <path d="M2.67387 20.8544H1.49023V12.3998L2.67387 12.2871V20.8544Z" fill="#F99143"/>
                            <path d="M16.2011 0L1.85254 12.094V12.3678L10.9271 11.5062L19.5749 9.27582L27.6348 5.427L35.4372 0.0563635L16.2011 0Z" fill="white"/>
                            <path d="M28.2716 8.8254C27.1846 8.62411 26.0412 8.52748 24.8576 8.52748C21.822 8.52748 19.036 9.18774 16.5963 10.5083C14.9215 11.4101 13.4802 12.5534 12.2885 13.9384L10.501 10.7498C10.501 10.7498 12.0711 7.52099 18.1342 5.32282C24.1973 3.12464 27.4745 4.58204 27.4745 4.58204L28.2716 8.83346V8.8254Z" fill="white"/>
                            <path d="M3.66465 19.4778C3.66465 20.3555 2.95608 21.0641 2.07842 21.0641C1.20076 21.0641 0.492188 20.3555 0.492188 19.4778C0.492188 18.6002 1.20076 17.8916 2.07842 17.8916C2.95608 17.8916 3.66465 18.6002 3.66465 19.4778Z" fill="#F99143"/>
                            <path d="M127.246 32.828V3.40625L115.691 9.47741V12.5291H121.046V32.828H115.691V38.1906H132.6V32.828H127.246Z" fill="#F99143"/>
                            <path d="M58.9981 19.591C60.5682 21.1208 61.3493 23.3915 61.3493 26.4029V38.1909H55.3828V27.3289C55.3828 25.6943 55.0285 24.4785 54.3119 23.6733C53.5953 22.8681 52.5646 22.4655 51.2119 22.4655C49.7062 22.4655 48.5064 22.9325 47.6127 23.8585C46.7189 24.7925 46.2761 26.1774 46.2761 28.0133V38.1909H40.3096V9.7998H46.2761V19.7439C47.0651 18.9548 48.0233 18.351 49.1425 17.9242C50.2618 17.4974 51.4857 17.2962 52.8142 17.2962C55.3667 17.2962 57.428 18.0611 58.9981 19.591Z" fill="white"/>
                            <path d="M67.0502 13.7772C66.3577 13.1411 66.0195 12.352 66.0195 11.4019C66.0195 10.4517 66.3658 9.67069 67.0502 9.02654C67.7346 8.39044 68.6284 8.06836 69.7315 8.06836C70.8346 8.06836 71.7203 8.37433 72.4128 8.98628C73.1052 9.59823 73.4434 10.3632 73.4434 11.2811C73.4434 12.2795 73.0972 13.1008 72.4128 13.753C71.7203 14.4052 70.8265 14.7273 69.7315 14.7273C68.6364 14.7273 67.7426 14.4052 67.0502 13.7691M66.7442 17.5938H72.7107V38.1826H66.7442V17.5938Z" fill="white"/>
                            <path d="M84.2243 9.7998H78.2578V38.1909H84.2243V9.7998Z" fill="white"/>
                            <path d="M110.74 9.80004V38.1911H105.039V35.8158C103.558 37.6034 101.416 38.4971 98.6136 38.4971C96.6731 38.4971 94.9178 38.0623 93.3557 37.1927C91.7856 36.3231 90.5536 35.0912 89.6599 33.4808C88.7661 31.8704 88.3232 30.0104 88.3232 27.8927C88.3232 25.7751 88.7661 23.9151 89.6599 22.3047C90.5536 20.6943 91.7856 19.4624 93.3557 18.5928C94.9258 17.7231 96.6811 17.2883 98.6136 17.2883C101.239 17.2883 103.292 18.1177 104.773 19.7764V9.79199H110.74V9.80004ZM103.396 32.0475C104.395 31.0169 104.886 29.6319 104.886 27.8927C104.886 26.1535 104.387 24.7766 103.396 23.7379C102.398 22.7073 101.15 22.192 99.6443 22.192C98.1385 22.192 96.8502 22.7073 95.8599 23.7379C94.8614 24.7686 94.3702 26.1535 94.3702 27.8927C94.3702 29.6319 94.8695 31.0088 95.8599 32.0475C96.8502 33.0782 98.1144 33.5935 99.6443 33.5935C101.174 33.5935 102.398 33.0782 103.396 32.0475Z" fill="white"/>
                            <path d="M32.6279 30.4044L36.8068 34.2613C35.4622 35.8959 33.7954 37.1439 31.8146 37.9974C29.8338 38.8509 27.6276 39.2857 25.1959 39.2857C22.3294 39.2857 19.7367 38.6577 17.4178 37.4096C15.0988 36.1696 13.2871 34.4385 11.9586 32.2322C10.63 30.026 9.96973 27.5218 9.96973 24.7439C9.96973 21.966 10.63 19.4619 11.9586 17.2476C13.2871 15.0414 15.0988 13.3182 17.4178 12.0702C19.7367 10.8221 22.3375 10.2021 25.2281 10.2021C27.6598 10.2021 29.8661 10.6289 31.8307 11.4824C33.8035 12.344 35.4541 13.5759 36.7988 15.1863L32.6198 19.0432C30.7196 16.853 28.3603 15.7419 25.5422 15.7419C23.803 15.7419 22.257 16.1284 20.8801 16.8933C19.5193 17.6502 18.4565 18.7211 17.6915 20.0819C16.9347 21.4507 16.5482 22.9967 16.5482 24.7439C16.5482 26.4912 16.9347 28.0291 17.6915 29.3979C18.4645 30.7668 19.5193 31.8296 20.8801 32.5946C22.257 33.3514 23.803 33.7379 25.5422 33.7379C28.3603 33.7379 30.7115 32.6187 32.6198 30.4044" fill="white"/>
                            <path d="M133.116 29.784C131.989 29.4941 131.095 29.1318 130.427 28.6889L131.796 25.7419C132.432 26.1445 133.189 26.4746 134.09 26.7323C134.984 26.9899 135.862 27.1107 136.723 27.1107C138.463 27.1107 139.332 26.684 139.332 25.8224C139.332 25.4198 139.099 25.1299 138.624 24.9528C138.149 24.7757 137.424 24.6307 136.442 24.5019C135.282 24.3248 134.324 24.1235 133.575 23.898C132.818 23.6725 132.166 23.2699 131.61 22.6902C131.055 22.1105 130.781 21.2892 130.781 20.2183C130.781 19.3245 131.039 18.5274 131.554 17.8349C132.069 17.1424 132.826 16.6029 133.817 16.2165C134.807 15.83 135.983 15.6367 137.335 15.6367C138.334 15.6367 139.332 15.7494 140.323 15.9668C141.313 16.1842 142.134 16.4902 142.786 16.8767L141.418 19.7996C140.17 19.099 138.809 18.7448 137.335 18.7448C136.458 18.7448 135.797 18.8655 135.363 19.1152C134.92 19.3648 134.702 19.6788 134.702 20.0653C134.702 20.5081 134.936 20.8141 135.411 20.9913C135.886 21.1684 136.643 21.3294 137.673 21.4905C138.833 21.6837 139.783 21.8931 140.516 22.1105C141.257 22.3279 141.893 22.7305 142.44 23.3102C142.988 23.8899 143.253 24.6951 143.253 25.7338C143.253 26.6115 142.988 27.3925 142.464 28.0769C141.941 28.7614 141.168 29.2928 140.162 29.6712C139.155 30.0497 137.955 30.2349 136.57 30.2349C135.395 30.2349 134.243 30.0899 133.124 29.8001" fill="white"/>
                            <path d="M154.921 29.3252C154.518 29.6232 154.019 29.8486 153.431 29.9935C152.843 30.1385 152.223 30.219 151.571 30.219C149.888 30.219 148.584 29.7922 147.658 28.9307C146.74 28.0691 146.273 26.805 146.273 25.1382V19.3167H144.091V16.1603H146.273V12.7061H150.379V16.1603H153.906V19.3167H150.379V25.0819C150.379 25.6777 150.532 26.1367 150.838 26.4668C151.144 26.7889 151.579 26.9499 152.143 26.9499C152.795 26.9499 153.342 26.7728 153.801 26.4185L154.905 29.3172L154.921 29.3252Z" fill="white"/>
                            <path d="M160.501 27.8759C160.501 28.8985 159.696 29.6956 158.657 29.6956C157.618 29.6956 156.797 28.8904 156.797 27.8759C156.797 26.8614 157.618 26.0723 158.657 26.0723C159.696 26.0723 160.501 26.8775 160.501 27.8759ZM157.264 27.8759C157.264 28.6811 157.86 29.3172 158.673 29.3172C159.486 29.3172 160.05 28.6811 160.05 27.892C160.05 27.1029 159.47 26.4427 158.665 26.4427C157.86 26.4427 157.272 27.0868 157.272 27.8839L157.264 27.8759ZM158.375 28.818H157.956V27.0143C158.117 26.9821 158.351 26.958 158.649 26.958C158.987 26.958 159.14 27.0143 159.277 27.0868C159.373 27.1673 159.454 27.3042 159.454 27.4814C159.454 27.6827 159.301 27.8356 159.084 27.9001V27.9242C159.261 27.9886 159.357 28.1255 159.414 28.3671C159.47 28.6408 159.502 28.7536 159.543 28.818H159.092C159.035 28.7536 159.003 28.5845 158.947 28.3751C158.915 28.1738 158.802 28.0933 158.576 28.0933H158.375V28.818ZM158.383 27.7954H158.584C158.818 27.7954 159.003 27.7149 159.003 27.5297C159.003 27.3606 158.882 27.2559 158.617 27.2559C158.504 27.2559 158.431 27.264 158.383 27.2801V27.7954Z" fill="white"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_5131_6359">
                                <rect width="160" height="50.2762" fill="white" transform="translate(0.5)"/>
                            </clipPath>
                        </defs>
                    </svg>
                </a>
                <div class="contact-info">
                    {% if footerGlobals.contactAddress %}
                    <div class="contact-info-item">
                        <svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M21.9613 4.93491C21.8714 4.86491 21.7668 4.81628 21.6554 4.79273C21.5439 4.76918 21.4286 4.77131 21.3181 4.79897L15.5872 6.23147L9.83563 3.35522C9.67537 3.27529 9.49181 3.25534 9.31812 3.29897L3.31812 4.79897C3.15587 4.83953 3.01183 4.93316 2.90889 5.06497C2.80595 5.19679 2.75003 5.35923 2.75 5.52647V19.0265C2.75002 19.1404 2.77601 19.2529 2.82599 19.3553C2.87598 19.4577 2.94864 19.5474 3.03847 19.6175C3.12831 19.6877 3.23294 19.7364 3.34442 19.76C3.45591 19.7837 3.57131 19.7816 3.68187 19.754L9.41281 18.3215L15.1644 21.1977C15.2688 21.2492 15.3836 21.2761 15.5 21.2765C15.5613 21.2764 15.6224 21.2689 15.6819 21.254L21.6819 19.754C21.8441 19.7134 21.9882 19.6198 22.0911 19.488C22.194 19.3562 22.25 19.1937 22.25 19.0265V5.52647C22.25 5.4124 22.224 5.29983 22.174 5.19732C22.124 5.09481 22.0512 5.00506 21.9613 4.93491ZM10.25 5.2396L14.75 7.4896V19.3133L10.25 17.0633V5.2396ZM4.25 6.11241L8.75 4.98741V16.9405L4.25 18.0655V6.11241ZM20.75 18.4405L16.25 19.5655V7.61241L20.75 6.48741V18.4405Z" fill="#95C7FB"/>
                        </svg>
                        <span>{{ footerGlobals.contactAddress }}</span>
                    </div>
                    {% endif %}
                    {% if footerGlobals.contactEmail %}
                    <div class="contact-info-item">
                        <svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M21.5 4.77637H3.5C3.30109 4.77637 3.11032 4.85538 2.96967 4.99604C2.82902 5.13669 2.75 5.32745 2.75 5.52637V18.2764C2.75 18.6742 2.90804 19.0557 3.18934 19.337C3.47064 19.6183 3.85218 19.7764 4.25 19.7764H20.75C21.1478 19.7764 21.5294 19.6183 21.8107 19.337C22.092 19.0557 22.25 18.6742 22.25 18.2764V5.52637C22.25 5.32745 22.171 5.13669 22.0303 4.99604C21.8897 4.85538 21.6989 4.77637 21.5 4.77637ZM19.5716 6.27637L12.5 12.7592L5.42844 6.27637H19.5716ZM20.75 18.2764H4.25V7.23168L11.9928 14.3295C12.1312 14.4565 12.3122 14.527 12.5 14.527C12.6878 14.527 12.8688 14.4565 13.0072 14.3295L20.75 7.23168V18.2764Z" fill="#95C7FB"/>
                        </svg>
                        <span>{{ footerGlobals.contactEmail }}</span>
                    </div>
                    {% endif %}
                    {% if footerGlobals.contactPhoneNumber %}
                    <div class="contact-info-item">
                        <svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M21.3472 15.1318L16.9306 13.1527L16.9184 13.1471C16.6892 13.049 16.439 13.0097 16.1907 13.0326C15.9424 13.0555 15.7037 13.14 15.4963 13.2784C15.4718 13.2945 15.4484 13.312 15.4259 13.3309L13.1441 15.2762C11.6984 14.574 10.2059 13.0927 9.50376 11.6659L11.4519 9.3493C11.4706 9.32586 11.4884 9.30243 11.5053 9.27711C11.6407 9.07021 11.7229 8.83304 11.7445 8.58671C11.7661 8.34039 11.7264 8.09254 11.6291 7.86524V7.85399L9.64438 3.42993C9.5157 3.13299 9.29444 2.88563 9.01362 2.72478C8.7328 2.56392 8.4075 2.4982 8.08626 2.53743C6.81592 2.70459 5.64986 3.32846 4.80588 4.29252C3.9619 5.25657 3.49771 6.49489 3.50001 7.77618C3.50001 15.2199 9.55626 21.2762 17 21.2762C18.2813 21.2785 19.5196 20.8143 20.4837 19.9703C21.4477 19.1263 22.0716 17.9603 22.2388 16.6899C22.2781 16.3688 22.2125 16.0436 22.0518 15.7628C21.8911 15.482 21.644 15.2606 21.3472 15.1318ZM17 19.7762C13.8185 19.7727 10.7682 18.5073 8.51856 16.2576C6.26888 14.0079 5.00348 10.9577 5.00001 7.77618C4.99648 6.8607 5.32631 5.97524 5.92789 5.28515C6.52947 4.59507 7.36167 4.14755 8.26907 4.02618C8.2687 4.02992 8.2687 4.03369 8.26907 4.03743L10.2378 8.44368L8.30001 10.7631C8.28034 10.7857 8.26247 10.8098 8.24657 10.8352C8.10549 11.0517 8.02273 11.301 8.0063 11.5589C7.98988 11.8167 8.04035 12.0745 8.15282 12.3071C9.0022 14.0443 10.7525 15.7815 12.5084 16.6299C12.7428 16.7413 13.002 16.7901 13.2608 16.7713C13.5196 16.7526 13.7692 16.6671 13.985 16.5231C14.0091 16.5068 14.0322 16.4893 14.0544 16.4706L16.3334 14.5262L20.7397 16.4996C20.7397 16.4996 20.7472 16.4996 20.75 16.4996C20.6301 17.4083 20.1833 18.2422 19.4931 18.8452C18.8028 19.4483 17.9166 19.7793 17 19.7762Z" fill="#95C7FB"/>
                        </svg>
                        <span>{{ footerGlobals.contactPhoneNumber }}</span>
                    </div>
                    {% endif %}
                </div>
                <div class="social-media-links">
                    {% set iconRows = footerGlobals.socialIcons.all() %}
                    {% for iconRow in iconRows %}
                    <a href="{{ iconRow.socialLink }}" target="__blank" title="{{ iconRow.icon.label|capitalize }}">
                        {{ svg(iconRow.icon.path)|attr({ class: 'social-logo' }) }}
                    </a>
                    {% endfor %}
                </div>
            </div>
            <div class="footer-right">
                <div class="footer-links-wrapper">
                    <h3 class="footer-links-heading">Products</h3>
                    {% set subjects = craft.entries.section('ProductCategories').type('subject').all() %}
                    <ul class="footer-links">
                        {% for cat in subjects %}
                        <li><a href="/products?subjectCats[0]={{cat.id}}">{{ cat.title }}</a></li>
                        {% endfor %}
                        <li><a href="/products">All Products</a></li>
                    </ul>
                </div>
                <div class="footer-links-wrapper">
                    <h3 class="footer-links-heading">Learn</h3>
                    {% set footerLearnMenuItems = craft.navigation.nodes().handle('footerMenuLearn').level(1).all() %}
                    <ul class="footer-links">
                        {% for menuItem in footerLearnMenuItems %}
                        <li><a href="{{ menuItem.url }}" {% if menuItem.newWindow %} target="_blank" rel="noopener"{% endif %}>{{ menuItem.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="footer-links-wrapper">
                    <h3 class="footer-links-heading">About</h3>
                    {% set footerAboutMenuItems = craft.navigation.nodes().handle('footerMenuAbout').level(1).all() %}
                    <ul class="footer-links">
                        {% for menuItem in footerAboutMenuItems %}
                        <li><a href="{{ menuItem.url }}" {% if menuItem.newWindow %} target="_blank" rel="noopener"{% endif %}>{{ menuItem.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="sub-footer">

        <div class="sub-footer-container">
            <div class="copyright">
                &copy; {{ now|date('Y') }} {{ footerGlobals.copyright ? footerGlobals.copyright : 'Child1st Publications. All Rights Reserved.' }}
            </div>
            {% set subFooterMenuItems = craft.navigation.nodes().handle('subFooterMenu').level(1).all() %}
            <div class="links">
                {% for menuItem in subFooterMenuItems %}
                <a href="{{ menuItem.url }}" {% if menuItem.newWindow %} target="_blank" rel="noopener"{% endif %}>{{ menuItem.title }}</a>
                {% endfor %}
            </div>
        </div>

    </div>
</div>