<header class="cc-i-header items-center flex-wrap" role="meta">
    {% set rating = comment.productRating.value %}
    {% if rating %}
    <div class="flex flex-row items-center gap-1">
    {% for star in range(1,5) %}
        {% if star <= rating %}
            <svg class="w-4 lg:w-5 h-auto" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18.8203 8.93578L15.2969 12.0108L16.3524 16.5889C16.4082 16.8282 16.3923 17.0787 16.3065 17.309C16.2208 17.5394 16.0691 17.7393 15.8703 17.8839C15.6716 18.0284 15.4346 18.1112 15.1891 18.1218C14.9436 18.1324 14.7004 18.0704 14.4899 17.9436L10.4969 15.5217L6.51252 17.9436C6.30202 18.0704 6.05881 18.1324 5.81328 18.1218C5.56775 18.1112 5.33079 18.0284 5.13204 17.8839C4.9333 17.7393 4.78157 17.5394 4.69584 17.309C4.6101 17.0787 4.59416 16.8282 4.65002 16.5889L5.70392 12.0155L2.1797 8.93578C1.99331 8.77502 1.85852 8.5628 1.79225 8.32574C1.72598 8.08868 1.73117 7.83733 1.80718 7.60321C1.88319 7.36909 2.02663 7.16262 2.21952 7.0097C2.4124 6.85678 2.64614 6.76421 2.89142 6.74359L7.53674 6.34125L9.35002 2.01625C9.44471 1.78931 9.60443 1.59546 9.80907 1.45911C10.0137 1.32276 10.2541 1.25 10.5 1.25C10.7459 1.25 10.9863 1.32276 11.191 1.45911C11.3956 1.59546 11.5553 1.78931 11.65 2.01625L13.4688 6.34125L18.1125 6.74359C18.3578 6.76421 18.5915 6.85678 18.7844 7.0097C18.9773 7.16262 19.1207 7.36909 19.1968 7.60321C19.2728 7.83733 19.278 8.08868 19.2117 8.32574C19.1454 8.5628 19.0106 8.77502 18.8242 8.93578H18.8203Z" fill="#2568CB"></path></svg>
        {% else %}
            <svg class="w-4 lg:w-5 h-auto" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18.8203 8.93578L15.2969 12.0108L16.3524 16.5889C16.4082 16.8282 16.3923 17.0787 16.3065 17.309C16.2208 17.5394 16.0691 17.7393 15.8703 17.8839C15.6716 18.0284 15.4346 18.1112 15.1891 18.1218C14.9436 18.1324 14.7004 18.0704 14.4899 17.9436L10.4969 15.5217L6.51252 17.9436C6.30202 18.0704 6.05881 18.1324 5.81328 18.1218C5.56775 18.1112 5.33079 18.0284 5.13204 17.8839C4.9333 17.7393 4.78157 17.5394 4.69584 17.309C4.6101 17.0787 4.59416 16.8282 4.65002 16.5889L5.70392 12.0155L2.1797 8.93578C1.99331 8.77502 1.85852 8.5628 1.79225 8.32574C1.72598 8.08868 1.73117 7.83733 1.80718 7.60321C1.88319 7.36909 2.02663 7.16262 2.21952 7.0097C2.4124 6.85678 2.64614 6.76421 2.89142 6.74359L7.53674 6.34125L9.35002 2.01625C9.44471 1.78931 9.60443 1.59546 9.80907 1.45911C10.0137 1.32276 10.2541 1.25 10.5 1.25C10.7459 1.25 10.9863 1.32276 11.191 1.45911C11.3956 1.59546 11.5553 1.78931 11.65 2.01625L13.4688 6.34125L18.1125 6.74359C18.3578 6.76421 18.5915 6.85678 18.7844 7.0097C18.9773 7.16262 19.1207 7.36909 19.1968 7.60321C19.2728 7.83733 19.278 8.08868 19.2117 8.32574C19.1454 8.5628 19.0106 8.77502 18.8242 8.93578H18.8203Z" fill="#CCCCCC"></path></svg>
        {% endif %}
    {% endfor %}
    </div>
    {% endif %}
    <span {% if rating %} class="cc-ll-i" {% endif %} itemprop="creator" itemscope itemtype="http://schema.org/Person">
        <span class="cc-i-author" itemprop="name">
            {{- comment.author.fullName ?? comment.author -}}
        </span>

        {% if comment.parent %}
            <span class="cc-icon cc-icon-right-arrow">
                <svg aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M340.5,218.6l99-99c4.7-4.7,4.7-12.3,0-17l-99-99C332.9-4,320,1.3,320,12v71H12c-6.6,0-12,5.4-12,12v32c0,6.6,5.4,12,12,12h308v71C320,220.8,332.9,226.1,340.5,218.6L340.5,218.6z"></path></svg>
            </span>

            <a class="cc-i-reply" href="{{ craft.app.request.url }}#comment-{{ comment.parent.id }}">
                {{- comment.parent.author.fullName ?? comment.parent.author -}}
            </a>
        {% endif %}
    </span>

    {% if comment.can('showTimeAgo') %}
        <div class="cc-ll">
            <span class="cc-ll-i">
                <a class="cc-i-share cc-dot transition-colors duration-200" href="{{ craft.app.request.url }}#comment-{{ comment.id }}"><time itemprop="commentTime" title="{{ comment.commentDate | date('D M j Y H:i:s \\G\\M\\TO (T)') }}" datetime="{{ comment.commentDate | date('c') }}"><small>{{ comment.timeAgo | trim }}</small></time></a>
            </span>
        </div>
    {% endif %}

    <small class="cc-i-header-links {{ comment.hasFlagged() ? 'has-flag' }}">
        {% if comment.can('flag') %}
            <form data-action="flag" role="form" method="post" accept-charset="UTF-8">
                <input type="hidden" name="action" value="comments/comments/flag">
                <input type="hidden" name="siteId" value="{{ comment.siteId }}">
                <input type="hidden" name="commentId" value="{{ comment.id }}">
                {{ csrfInput() }}

                <button type="submit" class="cc-i-flag">{{ 'Flag' | t('comments') }}</button>
            </form>
        {% endif %}
    </small>
</header>