{% import "_macros/icons.twig" as icons %}

{% set image = block.contentImage.one() %}
{% set imgCrop = {
    mode: 'crop',
    width: 1200,
    quality: 85,
    position: 'center'
} %}

{% set includeVideo = includeVideo is defined ? includeVideo : block.enableVideo %}

{% if align is defined %}
    
    {% if align == 'imageLeft' %}
        {% set firstOrder = 'lg:order-1' %}
        {% set secondOrder = 'lg:order-2' %}
    {% else %}
        {% set firstOrder = 'lg:order-2' %}
        {% set secondOrder = 'lg:order-1' %}
    {% endif %}

{% elseif block.imageAlign %}

    {% switch block.imageAlign %}

        {% case "imageLeft" %}
            {% set firstOrder = 'lg:order-1' %}
            {% set secondOrder = 'lg:order-2' %}

        {% case "imageRight" %}
            {% set firstOrder = 'lg:order-2' %}
            {% set secondOrder = 'lg:order-1' %}

        {% default %}
            {% set firstOrder = '' %}
            {% set secondOrder = '' %}

    {% endswitch %}
    
{% else %}

    {% set firstOrder = '' %}
    {% set secondOrder = '' %}

{% endif %}

{% if block.imageWidth %}

    {% set firstWidth = block.imageWidth %}

    {% switch firstWidth %}
    
        {% case "lg:w-2/5" %}
            {% set secondWidth = "lg:w-3/5" %}
    
        {% case "lg:w-1/2" %}
            {% set secondWidth = "lg:w-1/2" %}

        {% case "lg:w-3/5" %}
            {% set secondWidth = "lg:w-2/5" %}
    
        {% default %}
            {% set secondWidth = "" %}
    
    {% endswitch %}

{% else %}

    {% set firstWidth = "lg:w-3/5" %}
    {% set secondWidth = "lg:w-2/5" %}

{% endif %}

<section class="py-9 lg:py-16 lg:px-20">
    <div class="container mx-auto">
        <div class="flex flex-col lg:flex-row gap-6 lg:gap-24">

            {% if includeVideo %}
                {# Media - Image/Video #}
                <div class="w-full {{ firstWidth }} {{ firstOrder }}">
                    <div class="flex justify-center relative">
                        {% if image|length %}
                        <img class="w-full h-full rounded-2xl lg:rounded-4xl" src="{{ image.getUrl(imgCrop) }}" alt="{{ image.alt }}">
                        {% endif %}
                        {% if block.featureVideo|length %}
                        <a class="play-button-container glightbox" href="{{block.featureVideo.url}}" data-gallery="glightbox-{{ block.id }}">
                            <span class="sr-only">Play</span>
                            {% include "_partials/shapes/play-button.svg" %}
                        </a>
                        {% endif %}
                    </div>
                </div>
            {% else %}
                {# Media - Image #}
                <div class="w-full {{ firstWidth }} {{ firstOrder }}">
                    <div class="flex justify-center">
                        {% if image|length %}
                        <img class="w-full h-full rounded-2xl lg:rounded-4xl" src="{{ image.getUrl(imgCrop) }}" alt="{{ image.alt }}">
                        {% endif %}
                    </div>
                </div>
            {% endif %}

            {# Content #}
            <div class="w-full {{ secondWidth }} flex flex-col justify-center {{ secondOrder }}">
                {% if block.subheading %}
                <div class="font-effra font-[600] text-xs lg:text-lg leading-[1.4] lg:leading-[1.3] tracking-[2px] uppercase text-blue-700 mb-4">{{ block.subheading }}</div>
                {% endif %}
                <h2 class="font-effra font-bold text-[1.75rem] lg:text-5xl leading-[1.2] lg:leading-[1.1] text-blue-900 mb-6">{{ block.heading }}</h2>
                {% if block.contentType == 'richtext' %}
                    {% if block.simpleContent %}
                    <div class="richtext">{{ block.simpleContent|raw }}</div>
                    {% endif %}
                {% else %}
                    {% if block.simpleText %}
                    <div class="paragraph-base">{{ block.simpleText|nl2br }}</div>
                    {% endif %}
                {% endif %}
                {% set buttons = block.buttonGroup %}
                {% if buttons|length and buttons[0].text != '' %}
                    {% set count = 0 %}
                    <div class="flex flex-col lg:flex-row gap-4 mt-4 lg:mt-10">
                        {% for button in buttons %}
                            <a class="button w-full lg:w-max {{ count == 1 ? 'button--secondary' : '' }}" href="{{button.url}}" target="{{button.target}}">{{button.text}}</a>
                            {% set count = count + 1 %}
                        {% endfor %}
                    </div>
                {% endif %}

                {% if block.enableIcons %}
                    {% set iconRows = block.icons.all() %}
                    {% if iconRows|length %}
                    <div class="flex flex-col gap-4 mt-6">
                        {% for iconRow in iconRows %}
                            {% set icon = iconRow.icon.label %}
                            <div class="flex flex-row gap-3 lg:gap-4 items-center">
                                {{ icons.getIcon(icon, "w-7 lg:w-10 h-auto flex-shrink-0") }}
                                <div class="font-effra font-normal text-base lg:text-xl leading-6 text-blue-900">{{ iconRow.text }}</div>
                            </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                {% endif %}
            </div>

        </div>
    </div>
</section>